.Home-container {
  display: flex;

  justify-content: center;
  justify-items: center;
  margin-top: 70px;
  flex-flow: wrap;
  min-height: fit-content;
}
.Home-parent {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Home-details {
  margin-top: 10px;
}
.Home-details-role {
  display: flex;

  margin-bottom: 30px;
}

.profile-picture {
  display: flex;

  background-image: url("../../assets/my_picture.png");
  background-size: cover;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 230px;
  position: relative;
}
.primary-text h1 {
  font-size: 50px;
  font-weight: 900;
  
}
.secondary-text h5 {
  color: #1ef2f1;
  margin-left: -170px;
  margin-bottom: 10px;
}
button {
  display: block;
  background-color: #1ef2f1;

  font-family: "Poppins";

  text-decoration: none;

  position: absolute;

  font-size: 1em;

  font-weight: 800;

  letter-spacing: 0;
  border-radius: 45px;

  padding: 0.8em 2.1em;
  transition: transform 450ms;
}
button:hover {
  transform: scale(1.08);
}
.linee {
  position: relative;
  top: 50%;
  width: 8em;
  margin: 0 auto;
  border-right: 2px solid white;
  overflow: hidden;
  margin-top: -60px;

  transform: translateY(-50%);
}
.lineee {
  position: relative;
  top: 50%;
  width: 5em;
  
  border-right: 2px solid white;
  overflow: hidden;
  margin-bottom: 50px;
  white-space: nowrap;
  transform: translateY(-50%);
}
.typing {
  animation: typewriter 4s steps(30) 1s infinite normal both,
    blinkTextCursor 800ms steps(40) infinite ;
}
.typingg {
  animation: typewriterr 4s steps(30) 1s infinite normal both,
    blinkTextCursorr 800ms steps(40) infinite ;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #1ef2f1;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes typewriterr {
  from {
    width: 0;
  }
  to {
    width: 5em;
  }
}
@keyframes blinkTextCursorr {
  from {
    border-right-color: #1ef2f1;
  }
  to {
    border-right-color: transparent;
  }
}
