.Home-container {
  display: flex;

  justify-content: center;
  justify-items: center;
  margin-top: 70px;
  flex-flow: wrap;
  min-height: fit-content;
}
.Home-parent {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Home-details {
  margin-top: 10px;
}
.Home-details-role {
  display: flex;
   font-size: 60px;
  font-weight: 900;
  margin-right: 100px;
  
}

.profile-picture {
  display: flex;

  background-image: url("../../assets/my_picture.png");
  background-size: cover;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 230px;
  position: relative;
}
.textt{
  margin-left: -40px;
  margin-bottom: -45px;
}
.primary-text h1 {
  font-size: 50px;
  font-weight: 900;
  
}
.secondary-text h5 {
  color: #1ef2f1;
  margin-left: -170px;
  margin-bottom: 10px;
}
button {
  display: block;
  background-color: #1ef2f1;

  font-family: "Poppins";

  text-decoration: none;

  position: absolute;

  font-size: 1em;
   border:#1ef2f1;
  font-weight: 800;

  letter-spacing: 0;
  border-radius: 45px;
  cursor: pointer;
  padding: 0.8em 2.1em;
  /* transition: transform 450ms; */
}
/* button:hover {
  transform: scale(1.08);
} */


.Home-details-role .option {
  margin-left: -10px;
  height: 90px;
  
  
   line-height: 90px;
  position: relative;
  overflow: hidden;
}
.option li {
  list-style: none;
  position: relative;
  
  top:0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide 
{
  100% {
    top: -360px;
  }
  
}

.option li span:after {
   content:'';
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   border-left: 2px solid #1ef2f1;
   animation : typing 3s steps(10) infinite;
}
@keyframes typing 
{
  40%, 60% 
  {
    left: calc(100% + 30px);
  }
  100%
  {
    left: 0;
  }
}
/* /* .cta-buttonX {
  color: white;
		text-transform: uppercase;
		border: 2px solid var(--sec-main-color);
		border-radius: 50px;
		background-color: var(--sec-main-color);
} */
/* .cta-buttonX:hover, .cta-buttonX:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
		
} */
/* .btn-m {

font-size: 1em;

line-height: normal;

text-transform: uppercase;

font-family: 'Lato', sans-serif;

font-weight: 900;

-webkit-transition: all .3s ease-in-out;

transition: all .3s ease-in-out, color 0.2s 0.3s;

letter-spacing: 0;

border-radius: 45px;

height: auto;

padding: .8em 2.1em;
} */





/* .btn-m:hover {

	cursor: pointer;
	padding: .8em 2.7em;
  padding-left: 2.7em;
} */

/* a.btn-m{

	margin: 3rem 0;

} */ 
@media screen and  (max-width: 500px) {
  .Home-details {
    margin-bottom: -70em;
    margin-right: -28em;
    margin-left: 9em;
  }

.profile-picture {
 
  
  height: 700px;
  width: 700px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -13em;
  
};
    
  
}
 
