.Home-container {
  display: flex;

  justify-content: center;
  justify-items: center;
  margin-top: 70px;
  flex-flow: wrap;
  min-height: fit-content;
}
.Home-parent {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Home-details {
  margin-top: 10px;
}
.Home-details-role {
  display: flex;

  margin-bottom: 30px;
}

.profile-picture {
  display: flex;

  background-image: url("../../assets/my_picture.png");
  background-size: cover;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 230px;
  position: relative;
}
.primary-text h1 {
  font-size: 50px;
  font-weight: 900;
}
.secondary-text h5 {
  color: #1ef2f1;
  margin-left: -170px;
  margin-bottom: 10px;
}
button {
  background-color: #1ef2f1;
  

  font-family: "Poppins";
  text-align: center;
  
  display: block;
  text-decoration: none;
  color: balck;
  position: absolute;
  overflow: hidden;font-size: 1em;
		line-height: normal;
		
		font-weight: 800;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out, color 0.2s 0.3s;
		letter-spacing: 0;
		border-radius: 45px;
		height: auto;
		padding: .8em 2.1em;
    transition: transform 450ms;
}
button:hover {

	transform: scale(1.08);
  padding: .8em 2.5em;
}
  

