.Hf-container {
  display: flex;
  align-items: center;
  margin-top: 120px;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Hf-container .Hf-parent {
  padding: 40px 40px;
   
   justify-content: center;
  color: #fff;
  background-color: #181818;
  margin: 30px;
  
  text-align: start;
  height: 210px;
  width: 210px;
  padding: 30px 20px;
  border-radius: 30px;
  
  position: relative;
}

.Hf-parent .title {
  margin: 30px 0 30px;
  font-weight: 600;
  
}
.Hf-parent .description {
  font-size: 12px;
}

.Hf-line {
    border-bottom: 2px solid #1ef2f1;
    width: 20%;
    margin-top: 10px; 
}
.lightbulb {
  display: flex;

  background-image: url("../../assets/Asset\ 5.svg");
  
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  
  position: relative;
}
.paper-plane {
  display: flex;

  background-image: url("../../assets/Asset\ 4.svg");
  
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  
  position: relative;
}
@media screen and (max-width: 500px) {
  .Hf-container {
  flex-direction: column;
  margin-top: 30em;
  margin-left: 0.3em;
  
  
}
  
}