.Sc-container {
    display: flex;

  justify-content: center;
  justify-items: center;
  margin-top: 120px;
  flex-flow: wrap;
  min-height: fit-content;
}
.Sc-parent {
     display: flex;
  align-items: center;
  flex-direction: row;
}