.works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 120px;
  flex-flow: wrap;
  min-height: fit-content;
}
.works-parent {
  margin-right: 900px;
}
.works-subtitle {
  font-size: 12px;
  margin-right: 105px;
  color: #1ef2f1;
}
.works-line {
  border-bottom: 2px solid #1ef2f1;
  width: 20%;
  margin-top: 3px;
  padding-right: 60px;
  margin-bottom: 30px;
}
.works-title {
  font-weight: 600;
  font-size: 45px;
  margin-right: 70px;
  padding-left: 10px;
}
.works-details {
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.first-pic {
  display: flex;

  background-image: url("../../assets/showtag-project.jpg");
  background-size: cover;
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
  position: relative;
}
.pic-details {
  display: flex;
  flex-direction: column;
}
.first-pic-title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 200px;
  margin-bottom: 1px;
  
}
.underline {
  border-bottom: 2px solid #1ef2f1;
  width: 20%;
  margin-left: 95px;

  margin-bottom: 60px;
}
.pic-description {
  border: none;
  text-align: start;

  width: 410px;
  font-size: 12px;
  margin-left: 95px;
}
.second-pic {
  display: flex;

  background-image: url("../../assets/bombshell.png");
  background-size: cover;
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
  position: relative;
}
.second-pic-title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 135px;
}

.third-pic {
  display: flex;

  background-image: url("../../assets/agencyone.jpg");
  background-size: cover;
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
  position: relative;
}
.third-pic-title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 185px;
}
.more-works-btn {
  margin-left: -100px;
}
@media screen and (max-width:500px){
  .works-parent {
  margin-right: 0em;
}
  .projects {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  
}
  .first-pic {
  
  height: 14.75em;
  width: 22.25em;
  
  margin-left: 0em;
  position: relative;
}
  .second-pic {
  
  height: 14.75em;
  width: 22.25em;
  
  margin-left: 0em;
  position: relative;
}
  .third-pic {
  
  height: 14.75em;
  width: 22.25em;
  
  margin-left: 0em;
  position: relative;
}
  
 .more-works-btn{
   margin-left: 8em;
 }
 .works-subtitle {
  
  margin-left: -3em;
  
}
 .pic-details {
  margin-left: -6em;
}
 .second-pic-title {
  
  margin-left: 1.2em;
}
}
