html {
  box-sizing: border-box;
  overflow: hidden;
  
}



body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  
}
#root {
 height:100vh;
}
@media screen and (max-width: 500px) {
 html {
   max-width: 500px;
  width: 100%;
  
}

}
