body {
  display: flex;
  
  min-height: 100vh;
  
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

